Source: libxxf86dga
Section: x11
Priority: optional
Maintainer: Sung-Jin Park <sj76.park@samsung.com>, Sangjin Lee <lsj119@samsung.com>, Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: SooChan Lim <sc1.lim@samsung.com>, Sung-Jin Park <sj76.park@samsung.com>, David Nusinow <dnusinow@debian.org>, Andres Salomon <dilinger@debian.org>, Julien Cristau <jcristau@debian.org>
Build-Depends: debhelper (>= 5.0.0), libx11-dev (>= 1:0.99.2), x11proto-xf86dga-dev (>= 2.0.99.1), libxext-dev (>= 1:0.99.1), pkg-config, quilt, automake, libtool, xutils-dev (>= 1:7.5-1slp2)
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/git/pkg-xorg/lib/libxxf86dga
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/lib/libxxf86dga.git

Package: libxxf86dga1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-common
Description: X11 Direct Graphics Access extension library
 libXxf86dga provides the XFree86-DGA extension, which allows direct
 graphics access to a framebuffer-like region, and also allows relative
 mouse reporting, et al.  It is mainly used by games and emulators for
 games.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libXxf86dga

Package: libxxf86dga1-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-common, libxxf86dga1 (= ${binary:Version})
Description: X11 Direct Graphics Access extension library (debug package)
 libXxf86dga provides the XFree86-DGA extension, which allows direct
 graphics access to a framebuffer-like region, and also allows relative
 mouse reporting, et al.  It is mainly used by games and emulators for
 games.
 .
 This package contains the debug versions of the library found in libxxf86dga1.
 Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libXxf86dga

Package: libxxf86dga-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libxxf86dga1 (= ${binary:Version}), libx11-dev, x11proto-xf86dga-dev (>= 2.0.99.1)
Replaces: x11proto-xf86dga-dev (<< 2.0.99.1)
Description: X11 Direct Graphics Access extension library (development headers)
 libXxf86dga provides the XFree86-DGA extension, which allows direct
 graphics access to a framebuffer-like region, and also allows relative
 mouse reporting, et al.  It is mainly used by games and emulators for
 games.
 .
 This package contains the development headers for the library found in
 libxxf86dga1.  Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libXxf86dga
